
  <p>Principal Amount {{principalAmt}}$</p>
  <p>Interest rate {{interestRate}}%</p>
  <p>Monthly Interst Rate = {{monthlyInterestRate}}%</p>
  <p>Monthly Interst Rate + 1 = {{monthlyInterestRateIncrement}}%</p>
  <p>Number of Term years {{noOfTermYears}}</p>
  <p>Number of monthly payments {{noOfMonthlyPayments}}</p>
  <p>Raise {{monthlyInterestRateIncrement}} to the negative {{noOfMonthlyPayments}}th power = {{interestToThePowerOfMonths}}</p>
  <p>subtract {{interestToThePowerOfMonths}} from 1 to get {{interestToThePowerOfMonthsLessOne}}</p>
  <p>Divide Monthly Interst Rate {{monthlyInterestRate}} by {{interestToThePowerOfMonthsLessOne}} to get {{dividedMonthlyInterest}}</p>
  <p>Multiply {{dividedMonthlyInterest}} by ${{principalAmt}} to find your monthly payment will be ${{monthlyPayment}}</p>
  <table>
    <tr>
      <th></th>
    </tr>
    <tr>
      <th></th>
    </tr>
  </table>
