<table>
  <tr>
    <td colspan = "2">
      <span class="fa-layers fa-fw" style="background:rgb(0, 0, 0);text-align: center;">
        <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-8 down-3" style="font-weight:900">1</span>
      </span>
    </td>
  </tr>
  <tr>
    <td>
      <span class="fa-layers fa-fw" style="background:rgb(0, 0, 0)">
        <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-8 down-3" style="font-weight:900">27</span>
      </span>
    </td>
    <td>
      <span class="fa-layers fa-fw" style="background:rgb(0, 0, 0)">
        <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-8 down-3" style="font-weight:900">27</span>
      </span>
    </td>
  </tr>
</table>