<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/mortgage">Mortgage</a>
      <a class="nav-item nav-link" routerLink="/bubble-sort">Bubble Sort</a>
  </div>
</nav>

Data Structures:

Array
Linked List
Binary Tree, Binary Search Tree, Red-Black Tree
Heap
Hash Table
Stack
Queue
Trie
Graph (both directed and undirected)

Sorting
Bubble Sort
Merge Sort
Quick Sort
Radix/Bucket Sort
Traversals (On multiple data structures)
Depth First Search
Breadth First Search
<!-- main content container -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 offset-sm-2">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>

