<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/mortgage">Mortgage Calculator</a>
      <a class="nav-item nav-link" routerLink="/sorting">Sorting</a>
      <a class="nav-item nav-link" routerLink="/tree">Tree</a>
  </div>
</nav>
<!-- main content container -->
<!-- <div class="jumbotron"> -->
  <div class="container">
      <!-- <div class="row">
          <div class="col-sm-8 offset-sm-2"> -->
              <router-outlet></router-outlet>
          <!-- </div>
      </div> -->
  </div>
<!-- </div> -->
<!-- <mat-grid-list cols="2">
  <mat-grid-tile colspan="2" rowspan="2">
    
  </mat-grid-tile>
</mat-grid-list> -->
<!-- nav -->


<!-- <h2>Data Structures</h2>
<ul>
  <li>Array</li>
  <li>List</li>
<li>Binary Tree, Binary Search Tree, Red-Black Tree</li>
<li>Heap</li>
<li>Hash Table</li>
<li>Stack</li>
<li>Queue</li>
<li>Trie</li>
<li>Graph (both directed and undirected)</li>
</ul> --> 

